html {
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0 auto;
    background: linear-gradient(320deg, #e42283, #e8ce0d, #18e1b9);
    display: flex;
    align-items: center;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.wallet {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.34);
    height: 650px;
    width: 350px;
    margin: 0 auto;
    
}

h1 {
    text-align: center;

}
.username{
    width: 100%;
    height: 100px;
    font-size: 20px;
}
.crypto{
    width: 100%;
    height: 225px;
    font-size: 20px;
}
.crypto-btn{
    display: flex;
    justify-content: center;
}